DISCORD_BOT_TOKEN=
DATABASE_PATH=./alerts.db
LOG_LEVEL=info
DELTA_WS_URL=wss://public-socket.india.delta.exchange
DELTA_SYMBOLS=BTCUSD
DELTA_RECONNECT_INTERVAL_MS=2000
DELTA_MAX_RECONNECT_INTERVAL_MS=60000
